@import "./variables.scss";

.aside {
  position: absolute;
  left: 0px;
  top: 0px;
  font-family: 'TT Lakes';
  font-weight: normal;
  color: black;
  background-color: $white;
  width: 320px;
  z-index: 2;

  height: 100% !important;
}

.aside-header {
  &__row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-left: 5px;
    margin-right: 24px;
  }

  &__logo {
    margin-left: 0px;
  }

  &__icon:nth-child(1) {
    background: url('../img/burger.svg') no-repeat center center;
    height: 45px;
    width: 45px;
  }

  &__icon:nth-child(3) {
    background: url('../img/search.svg') no-repeat center center;
    height: 45px;
    width: 45px;
  }

  &__icon{
    border: 1px solid $white;
    background-color: $white;
  }

  &__icon:hover, &__logo a:hover{
    opacity: 70%;
    transition-duration: 0.5s;
  }
}

.aside-information {
  &__icons {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    margin-left: 22px;
    margin-top: 20px;
  }

  &__icon {
    border: 1px solid $white;
    background-color: $white;

    margin-right: 16px;
  }

  &__icon:hover {
    opacity: 70%;
    transition-duration: 0.5s;
  }

  &__phone a, &__email a {
    text-decoration: none;
    color: #1B1C21;
  }

  &__email {
    margin-left: 25px;
    margin-top: 12px;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
  }

  &__phone {
    margin-left: 25px;
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.6px;
    color: $black;
  }
}

.aside-menu {
  &__row {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  &__list {
    list-style: none;
    margin-left: 16px;
  }

  &__list li {
    margin-top: 10px;
  }

  &__list a:hover {
    text-decoration: none;
    font-family: 'TT Lakes';
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: #7E7E82;
    transition-property: color;
    transition-duration: 0.3s;
    border: 1px solid $white;
  }

  &__list li:hover::before {
    content: "";
    height: 38px;
    width: 4px;
    background-color: #41F6D7;
    position: absolute;
    left: 0px;
  }

  &__list a {
    text-decoration: none;
    font-family: 'TT Lakes';
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: #1B1C21;
    border: 1px solid white;
  }
}

.aside-footer {

  &__languages {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    margin-left: 25px;
    margin-bottom: 20px;
  }

  &__language {
    text-decoration: none;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    margin-right: 7px;
    color: black;

    border: 1px solid $white;
    background-color: $white;
    cursor: pointer;
  }

  &__language:hover {
    text-decoration: none;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    margin-right: 7px;
    color: #7E7E82;
    transition-property: color;
    transition-duration: 0.3s;
  }
}

@keyframes aside-open {
  from {
    position: absolute;
    z-index: 1;
    left: -320px;
    background-color: $white;
  }
  to {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    background-color: $white;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .modal {
    display: none;
    opacity: 0;
  }

  .aside {
    width: 320px;
    background-color: $white;
    animation-name: aside-open;
    animation-duration: 2s;
    animation-fill-mode: forwards;
  }

  .aside-menu {
    flex: 1 1 320px;
  }
}

@media (min-width: 768px) and (max-width: 1439px) {
  .aside {
    animation-name: aside-open;
    animation-duration: 2s;
    animation-fill-mode: forwards;
  }

  .aside-menu {
    flex: 1 1 320px;
  }

  .modal {
    display: none;
    opacity: 0;
  }
}

@media (min-width: 1440px) {
  .aside .wrapper {
    min-width: 100%;
    min-height: 135%;
    overflow: hidden;

    display: flex;
    flex-direction: column;

    background-color: $white;
  }

  .aside-menu {
   margin-bottom: 200px;
  }

  .aside-header {
    &__icon:nth-child(1) {
      display: none;
    }

    &__logo, &__icon {
      padding-top: 20px;
    }
  }



}
