@import "variables.scss";

header {
  background-color: $white;
  padding: 12px 12px 8px 16px;
  margin: 0px;
}

.header__row {
  display: flex;
  flex-direction: row;
  height: 70px;
  align-items: center;
  justify-content: space-between;
}

button {
  background-color: $white;
  border: 1px solid $white;
}

.header__button:hover, .header__logo:hover {
  opacity: 70%;
  transition-duration: 0.5s;
}

@media (min-width: 320px) and (max-width: 767px) {

  /*скрываем для разрешения 320px иконок в хэдере*/
  .header__button:nth-last-child(3), .header__button:nth-last-child(4), .header__button:nth-last-child(5) {
    display: none;
  }

  .header__logo::after {
    display: inline-block;
    content: "";
    height: 32px;
    width: 2px;
    background-color: $bgDecorElem;
    position: relative;
    top: -7px;
    left: 8px;
    border-radius: 1px;
  }
}

@media (min-width: 768px) and (max-width: 1439px) {

  .header__button:nth-child(1) {
    margin-left: 10px;
    margin-right: 10px;
  }

  .header__button:nth-child(2) {
    margin-left: 20px;
  }

  .header__logo::before {
    display: inline-block;
    content: "";
    height: 32px;
    width: 2px;
    background-color: $bgDecorElem;
    position: relative;
    top: -7px;
    left: -10px;
    border-radius: 1px;
  }

  .header__button:nth-child(3) {
    margin-left: 260px;
  }

  .header__button:nth-child(3), .header__button:nth-child(4), .header__button:nth-child(5) {
      margin-right: 10px;
  }

  .header__button:nth-child(6), .header__button:nth-child(7) {
    margin-left: 10px;
    margin-right: 0px;
  }

  .header__button:nth-child(6)::before {
    display: inline-block;
    content: "";
    height: 32px;
    width: 2px;
    background-color: $bgDecorElem;
    position: relative;
    top: -5px;
    left: -15px;
    border-radius: 1px;
  }

}

@media (min-width: 1440px) {
    .header {
      display: none;
    }
}
