@import "./variables.scss";

.modal-feedback h2 {
  background-image: none!important;
  background-color: $white!important;
  border-top: 1px solid $white;
}

.hidden {
  display: none;
}

.modal-feedback {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  height: 1950px;
  background-color: $white;
}

.modal--hide{
  display: none;
}

.textarea {
  resize: none;
}

.modal-feedback__wrapper {
   width: 320px;
   padding: 0 16px;
}

.modal-feedback__close {
   margin-bottom: 40px;
   margin-top: 24px;
   transition: 0.2s;
 }

.modal-feedback__close:hover {
   opacity: 0.33;
 }

.modal-feedback__title, .modal-call__title {
   font-weight: 800;
   font-size: 24px;
   margin-bottom: 24px;
   position: relative;
 }

.modal-feedback__title::before, .modal-call__title::before {
   content: "";
   width: 4px;
   height: 40px;
   background: $bgViewElem;
   position: absolute;
   left: -16px;
   top: 0;
   bottom: 0;
   margin-top: auto;
   margin-bottom: auto;
   border-radius: 0 25px 25px 0;
 }

.modal-feedback__form {
   display: flex;
   flex-direction: column;

 }

.modal-feedback__input {
   border: 1px solid $bgDecorElem;
   border-radius: 8px;
   margin-bottom: 16px;
   padding: 12px 0px 12px 16px;
 }

.modal-feedback__pink {
   color: $pink;
 }


.modal-feedback__submit {
   align-self: end;
   margin-top: 27px;
 }

