@import "./variables.scss";

h2 {
  flex-wrap: wrap;
  margin-bottom: 16px;
}

.price__text {
  font-family: 'TT Lakes';
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  color: $black;
  padding: 16px 0 0 16px;
}

.price__text {
  font-family: 'TT Lakes';
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2px;
  font-weight: normal;

  color: $black;

  margin-left: 16px;
  margin-right: 16px;
  padding-bottom: 10px;

}

.price__button {
  font-family: 'TT Lakes';
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  text-align: left;

  color: $black;
  margin-left: 16px;
  margin-right: 112px;
  background-color: $bgColor;
  margin-bottom: 30px;
  border: 1px solid $bgColor;
}

.price__button::after{
  display: inline-block;
  content: " ";
  height: 20px;
  width: 20px;
  background-image: url(../img/more.svg);
  margin-left: 10px;
  margin-top: 2px;
}

.price__card--head {
  font-family: 'TT Lakes';
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: $textElemColor;
  mix-blend-mode: normal;
  opacity: 0.72;
}

@media (min-width: 320px) and (max-width: 767px) {

  .price__list {
    flex-wrap: nowrap;
    align-content: flex-start;
    min-width: 0px;
    margin-left: 10px;
    margin-bottom: 50px;
    margin-top: 20px;
  }

  .price__card  button {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 119px;
    height: 32px;
    background-color: $pink;
    border-radius: 16px;

    font-family: 'TT Lakes';
    font-size: 12px;
    line-height: 24px;
    font-weight: 500;

    letter-spacing: -0.15px;
    text-transform: uppercase;

    color: $white;
    padding-left: 10px;

    position: relative;
    left: 110px;
    bottom: 30px;
  }

  .price__card button::after {
    display: inline-block;
    content: " ";
    height: 24px;
    width: 24px;
    background-image: url(../img/goside.svg);
    background-repeat: no-repeat;
    padding-right: 5px;
    padding-bottom: 5px;
  }

  .price__card {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;

    width: 260px;
    height: 200px;
    background-color: #FFFFFF;
    border: 1px solid #EAEAEA;
    border-radius: 6px;

    padding-top: 10px;
  }

  .price__card--head {
    display: none;
  }

  h3, .price__card p {
    block: none;
    margin-left: 16px;
  }

  h3 {
    font-family: 'TT Lakes';
    font-size: 14px;
    line-height: 16px;

    color: $textElemColor;
    font-weight: normal;
    mix-blend-mode: normal;
    opacity: 0.72;
    margin-top: 16px;
  }

  .price__card p {
    font-family: 'TT Lakes';
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.2px;
    color: $black;
    margin-top: 4px;
  }

  .price__row .swiper-pagination {
    position: relative;
    bottom: 20px;
  }

  .swiper-pagination-bullet {
    background-color: $bgPagination;
    width: 12px;
    height: 12px;
  }

  .price__row .blur-right {
    display: flex;
    content: " ";
    width: 24px;
    height: 210px;
    z-index: 5;
    background: linear-gradient(270deg, #F8F8F8 16.84%, rgba(248, 248, 248, 0.0001) 100%);
    position: absolute;
    right: -5px;
    bottom: -890px;
  }

  .price__row .blur-left {
    display: flex;
    content: " ";
    width: 24px;
    height: 210px;
    background: linear-gradient(270deg, #F8F8F8 16.84%, rgba(248, 248, 248, 0.0001) 100%);
    position: absolute;
    z-index: 5;
    left: -15px;
    bottom: -890px;
  }

  .price__text {
    margin-left: 10px;
  }

  .price__button {
    margin-left: 20px;
    margin-right: 90px;
  }
}

@media (min-width: 768px) and (max-width: 1439px) {
  .price__list {
    flex-direction: column;
    justify-content: space-between;
    width: 730px;
    height: 324px;
    background-color: #FFFFFF;
    border: 1px solid #EAEAEA;
    border-radius: 6px;

    margin-left: 20px;
  }

  .price__card h3 {
    display: none;
  }

  .price__card, .price__card--head {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: center;
    height: 65px;
  }

  .price__card p:first-of-type {
    padding: 24px 24px 24px 14px;
  }

  .price__card p:not(:nth-child(2)) {
    padding-top: 24px;
  }

  .price__card button {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 119px;
    height: 32px;
    background-color: $pink;
    border-radius: 16px;

    font-family: 'TT Lakes';
    font-size: 12px;
    line-height: 24px;
    font-weight: 500;

    letter-spacing: -0.15px;
    text-transform: uppercase;

    color: $white;
    padding-left: 10px;

    position: relative;
    bottom: -20px;
    left: 10px;
  }

  .price__card button::after {
    display: inline-block;
    content: " ";
    height: 24px;
    width: 24px;
    background-image: url(../img/goside.svg);
    background-repeat: no-repeat;
    padding-right: 5px;
    padding-bottom: 5px;
  }

  .price__card:nth-child(4) p:nth-child(4) {
    padding-left: -40px;
  }

  .price__card:nth-child(4) p:nth-child(6) {
    padding-left: 20px;
  }

  .price__card:nth-child(5) p:nth-child(4), .price__card:nth-child(3) p:nth-child(4) {
    padding-left: 110px;
  }

  .price__card:nth-child(5) p:nth-child(6), .price__card:nth-child(3) p:nth-child(6)  {
    padding-left: 20px;
  }

  .price__card:nth-child(2) p:nth-child(4) {
    padding-left: 260px;
  }

  .price__card:nth-child(2) p:nth-child(6) {
    padding-left: 20px;
  }

  .price__card:nth-child(1) p:nth-child(4) {
    padding-left: 270px;
  }

  .price__card:nth-child(1) p:nth-child(6) {
    padding-left: 20px;
  }

  .price__card:nth-child(1) button {
    left: 35px;
  }

  .price__card {
    border-bottom: 1px solid $bgDecorElem;
  }

  .price__card--head h3:nth-child(1) {
    padding-left: 35px;
    padding-top: 20px;
  }

  .price__card--head h3:nth-child(2) {
    padding-left: 260px;
    padding-top: 20px;
  }

  .price__card--head h3:nth-child(3) {
    padding-left: 50px;
    padding-top: 20px;
  }

  .price__text {
    width: 421px;
    height: 60px;
    margin-top: 20px;
    margin-left: 25px;
  }

  .price__button {
    margin-left: 40px;
  }
}

@media (min-width: 1440px) {

  h2 {
    height: 56px;
    padding-left: 32px;
  }

  .price__list {
    flex-direction: column;
    justify-content: space-between;
    width: 1056px;
    height: 324px;
    background-color: #FFFFFF;
    border: 1px solid #EAEAEA;
    border-radius: 6px;

    margin-left: 30px;
  }

  .price__card h3 {
    display: none;
  }

  .price__card, .price__card--head {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: center;
    height: 65px;
  }

  .price__card p:first-of-type {
    padding: 24px 24px 24px 24px;
  }

  .price__card p:not(:nth-child(2)) {
    padding-top: 24px;
  }

  .price__card p:nth-child(4) {
    padding-left: 50px;
  }

  .price__card button {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 119px;
    height: 32px;
    background-color: $pink;
    border-radius: 16px;

    font-family: 'TT Lakes';
    font-size: 12px;
    line-height: 24px;
    font-weight: 500;

    letter-spacing: -0.15px;
    text-transform: uppercase;

    color: $white;
    padding-left: 10px;

    position: relative;
    bottom: -20px;
    left: 120px;
  }

  .price__card button::after {
    display: inline-block;
    content: " ";
    height: 24px;
    width: 24px;
    background-image: url(../img/goside.svg);
    background-repeat: no-repeat;
    padding-right: 5px;
    padding-bottom: 5px;
  }

  .price__card:nth-child(4) p:nth-child(4) {
    padding-left: 80px;
  }

  .price__card:nth-child(4) p:nth-child(6) {
    padding-left: 130px;
  }

  .price__card:nth-child(5) p:nth-child(4), .price__card:nth-child(3) p:nth-child(4) {
    padding-left: 190px;
  }

  .price__card:nth-child(5) p:nth-child(6), .price__card:nth-child(3) p:nth-child(6)  {
    padding-left: 130px;
  }

  .price__card:nth-child(2) p:nth-child(4) {
    padding-left: 340px;
  }

  .price__card:nth-child(2) p:nth-child(6) {
    padding-left: 130px;
  }

  .price__card:nth-child(1) p:nth-child(4) {
    padding-left: 365px;
  }

  .price__card:nth-child(1) p:nth-child(6) {
    padding-left: 110px;
  }

  .price__card:nth-child(1) button {
    left: 150px;
  }

  .price__card {
    border-bottom: 1px solid $bgDecorElem;
  }


  .price__card--head h3:nth-child(1) {
    padding-left: 55px;
    padding-top: 20px;
  }

  .price__card--head h3:nth-child(2) {
    padding-left: 340px;
    padding-top: 20px;
  }

  .price__card--head h3:nth-child(3) {
    padding-left: 150px;
    padding-top: 20px;
  }

  .price__text {
    width: 421px;
    height: 60px;
    margin-top: 20px;
    margin-left: 25px;
  }

  .price__button {
    margin-left: 40px;
  }

}
