@import "./variables.scss";

h2 {
  margin-bottom: 16px;
  padding-right: 50px;
  white-space: pre-wrap;
}

.technique__list {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-content: space-between;
  flex-wrap: nowrap;
}

.technique__card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  width: 240px;
  height: 160px;
  background-color: #FFFFFF;
  border: 1px solid #EAEAEA;
  border-radius: 6px;
}

.technique__text {
  font-family: 'TT Lakes';
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  color: $black;
  padding: 16px 0 0 16px;
}

.technique__card button {
  margin-top: 100px;
  margin-right: 16px;
}

@media (min-width: 320px) and (max-width: 767px) {
  .technique__button--open {
    display: none;
  }

  .technique__list {
    flex-wrap: nowrap;
    align-content: flex-start;
    min-width: 0px;
    margin-left: 10px;
    margin-bottom: 40px;
  }

  .technique__row .swiper-pagination {
    position: relative;
    bottom: 20px;
  }

  .swiper-pagination-bullet {
    background-color: $bgPagination;
    width: 12px;
    height: 12px;
  }


  .technique__row .blur-right {
    display: flex;
    content: " ";
    width: 24px;
    height: 166px;
    z-index: 5;
    background: linear-gradient(270deg, #F8F8F8 16.84%, rgba(248, 248, 248, 0.0001) 100%);
    position: absolute;
    right: -5px;
    bottom: -535px;
  }

  .technique__row .blur-left {
    display: flex;
    content: " ";
    width: 24px;
    height: 166px;
    background: linear-gradient(270deg, #F8F8F8 16.84%, rgba(248, 248, 248, 0.0001) 100%);
    position: absolute;
    z-index: 5;
    left: -15px;
    bottom: -535px;
  }
}

@media (min-width: 768px) and (max-width: 1439px) {

  .technique__list {
    margin-left: 25px;
    margin-top: 30px;
    overflow: hidden;
    flex-wrap: wrap;
    height: 180px;
  }

  .technique__list--open {
    height: 350px;
  }

  .technique__card {
    margin-right: 25px;
    margin-bottom: 20px;
    width: 224px;
  }

  .technique__button--open, .technique__button--close {
    display: flex;
    flex-direction: row;
    justify-content: center;

    background-color: #F8F8F8;
    border: 1px solid #F8F8F8;
    margin-left: 40px;
    margin-top: 10px;
    margin-bottom: 20px;

    font-family: 'TT Lakes';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: #1B1C21;
  }

  .technique__button--open img, .technique__button--close img {
    margin-right: 17px;
  }

  .technique__button--close::before, .technique__button--open::before  {
    display: inline-block;
    content: " ";
    height: 24px;
    width: 24px;
    background-image: url(../img/expand.svg);
  }

  .technique__button--close::before {
    transform: rotate(180deg);
  }

}

@media (min-width: 1440px) {

  h2 {
    height: 56px;
    padding-left: 32px;
  }

  .technique__list {
    margin-left: 30px;
    margin-top: 30px;
  }

  .technique__card {
    margin-right: 32px;
  }

  .technique__button--open, .technique__button--close {
    display: flex;
    flex-direction: row;
    justify-content: center;

    background-color: #F8F8F8;
    border: 1px solid #F8F8F8;
    margin-left: 40px;
    margin-top: 10px;
    margin-bottom: 20px;

    font-family: 'TT Lakes';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: #1B1C21;
  }

  .technique__button--open img, .technique__button--close img {
    margin-right: 17px;
  }

  .technique__button--close::before, .technique__button--open::before  {
    display: inline-block;
    content: " ";
    height: 24px;
    width: 24px;
    background-image: url(../img/expand.svg);
  }

  .technique__button--close::before {
    transform: rotate(180deg);
  }
}
