$bgColor: rgba(248, 248, 248, 1);
$white: rgba(255, 255, 255, 1);
$bgDecorElem: #EAEAEA;
$bgViewElem: #41F6D7;
$typeFont: 'TT Lakes';
$black: black;
$textElemColor: #7E7E82;
$bgPagination: #B5B6BC;
$pink: #FF3E79;
$blue: #D9FFF5;


